.menu {
  display: flex;
}

.menu-item {
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item-selected {
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.menu-item-logout {
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: red;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.back-button {
  display: flex;
  width: 100px;
  height: 35px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}
