.menu {
  display: flex;
}

.menu-item {
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item-selected {
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.menu-item-logout {
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: red;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.back-button {
  display: flex;
  width: 100px;
  height: 35px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}

.user-card {
  display: flex;
  margin-bottom: 2%;
}

.user-image {
  width: 150px;
  height: 150px;
  margin-right: 2%;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-info {
  width: 300px;
}

.user-info p {
  font-weight: bold;
}

.pagination-list-users {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.down-list-users,
.up-list-users {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px black solid;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}

.page-list-users {
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px black solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.form-type-button {
  display: flex;
  width: 150px;
  height: 35px;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.form-type-button input[type="radio"] {
  display: none;
}

.form-type-button input[type="radio"]:checked + label {
  background-color: rgb(197, 8, 245);
  color: white;
}

.form-type-button label {
  width: 150px;
  line-height: 35px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
